.post-title {
    font-size: 35px; 
}

.post-tags{
    color: rgb(187, 185, 185);
}

.post-like-button, .post-comments-button {
    cursor: pointer; 
  }

.post-comments-button{
    cursor: pointer;
}